<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/table" style="color: black; cursor: pointer" aria-current="page">Stoliki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: black; cursor: pointer">Księga gości</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row p-2">
    <div class="col-md-1"></div>
    <div class="col-md-10 justify-content-center p-2">
      <div class="col-md-12 text-center">
        <h1 class="main-font">Księga gości</h1>
      </div>

      <form [formGroup]="currentForm" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">
        <div class="col-md-12 mt-2">
          <mat-form-field style="width: 100%; border-color: green !important;">
            <mat-label>Od</mat-label>
            <input maxlength="255" formControlName="from" matInput placeholder="Imiona i nazwiska" style="border-color: green !important;">
            <mat-error *ngIf="currentForm.controls['from'].invalid && currentForm.controls['from'].touched && currentForm.controls['from'].errors">
              Pole nie może być puste
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 text-center mt-2">
          <div style="display: grid; grid-template-columns: auto auto auto;">
            <div (click)="changeSelectedItem('PHOTO')" class="text-center p-2 select-input" [ngClass]="{'active-button': selectedItem === 'PHOTO'}">
              zdjęcia
            </div>
            <div (click)="changeSelectedItem('MESSAGE')" class="text-center p-2 select-input" [ngClass]="{'active-button': selectedItem === 'MESSAGE'}">
              życzenia
            </div>
            <div (click)="changeSelectedItem('PHOTO_AND_MESSAGE')" class="text-center p-2 select-input" [ngClass]="{'active-button': selectedItem === 'PHOTO_AND_MESSAGE'}">
              zdjęcia z życzeniami
            </div>

          </div>
        </div>
        <div *ngIf="selectedItem === 'MESSAGE' || selectedItem === 'PHOTO_AND_MESSAGE'" class="col-md-12 mt-2">
          <mat-form-field style="width: 100%">
            <mat-label>Życzenia</mat-label>
            <textarea formControlName="message" matInput placeholder="Wprowadź życzenia" style="min-height: 90px;"></textarea>
            <mat-error *ngIf="currentForm.controls['message'].invalid && currentForm.controls['message'].touched && currentForm.controls['message'].errors">
              Życzenia nie mogą przekroczyć 5000 znaków
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <div *ngIf="selectedItem === 'PHOTO' || selectedItem === 'PHOTO_AND_MESSAGE'" class="col-md-12 mt-2" style="position: relative">
            <label for="file-upload" class="custom-file-upload">
              <div style="position: absolute; left: calc(50% - 25px); top: calc(50% - 35px)">
                <img style="width: 50px;"
                     src="https://static.vecteezy.com/system/resources/thumbnails/014/638/927/small_2x/drag-and-drop-to-cloud-upload-online-backup-concept-icon-in-line-style-design-isolated-on-white-background-editable-stroke-free-vector.jpg"/>
                <p class="main-font" style="position: absolute; width: 150px; text-align: center; color: #006b3b; left: -50px; font-weight: 600">Dodaj zdjęcia</p>
              </div>
              <input (change)="onFileSelected($event)" class="radius-10" id="file-upload" accept="image/*" type="file" multiple/>
            </label>
          </div>
          <mat-error *ngIf="showImageError">
            Pliki nie mogą przekroczyć 50MB
          </mat-error>
        </div>
        <div>
          <div class="btn btn-danger" (click)="removeAll()" *ngIf="imageUrls && imageUrls.length">Usuń wszystkie</div>
          <div *ngIf="imageUrls && imageUrls.length" class="container">
            <div class="row">
              <div class="col-4 col-xs-4 col-sm-4 col-xxl-2 col-lg-3 col-md-4 my-1 img-thumbnail" *ngFor="let imageUrl of imageUrls">
                <span (click)="removeUrl(imageUrl)" class="material-symbols-outlined" style="position: relative; left: calc(100% - 20px); cursor: pointer; color: red">close</span>
                <img [src]="imageUrl" alt="Podgląd pliku" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center mt-2">
          <button type="submit" class="btn btn-success" style="width: 100px;">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>
