<app-spinner></app-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img style="width: 100px; height: 100px; margin-left: auto; margin-right: auto; display: block" src="assets/jin.svg"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-2">
      <div class="card text-center mb-3">
        <div class="card-header">
          <h1 class="card-title pt-3">Witajcie na naszym Weselu!</h1>
        </div>
        <div class="card-body">
          <p class="mb-2 text-xxl-center" style="font-size: 16px">Cieszymy się, że jesteście tutaj, aby świętować z nami ten wyjątkowy dzień. Wasza obecność sprawia, że nasza radość jest jeszcze większa.
            Chcielibyśmy, abyście pozostawili nam swoje wspomnienia, życzenia i rady na przyszłość w naszej Księdze Gości. To dla nas bardzo ważne, aby móc wracać do tych pięknych chwil w przyszłości.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
